*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

*.aux
*.swp
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0

*~

*.DS_Store

papers/conference/kernel-model-checking.pdf
src/bucket/
src/picloud_misc_credentials.py
data/mnist/many-rbm-samples/temp/
data/mnist/dbn-500-500-2000/dbn-500-500-200.pkl
src/samples.pdf
src/temp/
src/lda/4f13
src/gps/temp
*.pkl

papers/conference/format/nips2014.pdf
data/mnist/dbn-layers*

src/gps/ABCD/
src/gps/SE/
src/gps/SP/
src/gps/TCI/

talks/2014-hips/model-crit-jrl-2014.pdf

talks/2014-usa-tour/model-crit-jrl-2014.pdf
